#home1
{
	border-style:solid;
	background-color:#0C34AE;
	width:450px;
	height:50px;
	float:left;
	color:white;
}
#uni1
{
	font-color:white;
	width:4px;
	padding-right:5px;
	border-right-color:white;
	border-right-style:solid;
}